<div class="jumbotron">
  <h1>Workout Lounge!</h1>
    
  <p>Show off your workout to your friends and family</p>
</div>

<div class="row">
  <div class="col-10">
    <h2>List of Members</h2>
    <div class="pagination justify-content-center apple_pagination">
    <%= will_paginate @athletes %>
  </div>
<div class="row">
  <% @athletes.each do |athlete| %>
    <div class="col-10 card member">
      <%= athlete.full_name %>
    </div>  
  <% end %>
</div>
<div class="pagination justify-content-center apple_pagination">
    <%= will_paginate @athletes %>
  </div>