<div class="card" style="width: 28rem;">
  <div class="card-header">
    <h3>Results of Search</h3>
  </div>
  <div class="pagination justify-content-center apple_pagination">
    <%= will_paginate @athletes %>
  </div>
  <ul class="list-group list-group-flush">
    <% @athletes.each do |athlete| %>
      <li class="list-group-item"><%= athlete.full_name %></li>
    <% end %>
  </ul>
</div>
<div class="pagination justify-content-center apple_pagination">
    <%= will_paginate @athletes %>
</div>