@import "bootstrap";

.jumbotron {
    margin-top: 10px;
}

// change navbar brand color and size and hover
#logo {
    font-size: 1.3em;
    font-weight: bold;
    color: black;
}

#logo:hover {
    color: #ff0000;
    text-decoration: none;
}

// change navbar background color
.navbar-custom {
    background-color: #ffd600;

}

// change link color
.navbar-custom .navbar-nav .nav-item .nav-link {
    color: black;
}

// change link hover color
.navbar-custom .navbar-nav .nav-item:hover .nav-link {
    color: #ff0000;
    text-decoration: none;
}

// Devise Error Messages
#error_explanation {
    background-color: #f2dede;
    color: #a94442;
    text-align: left;
    padding: 5px 20px;
    margin-bottom: 30px;
}

#error_explanation h2 {
    font-size: 150%;
}

.navbar-custom .navbar-nav .navbar-text {
    color: #ffffff;
}