@import "bootstrap";

.jumbotron {
    margin-top: 10px;
}

// change navbar brand color and size and hover
#logo {
    font-size: 1.3em;
    font-weight: bold;
    color: black;
}

#logo:hover {
    color: #ff0000;
    text-decoration: none;
}

// change navbar background color
.navbar-custom {
    background-color: #ffd600;

}

// change link color
.navbar-custom .navbar-nav .nav-item .nav-link {
    color: black;
}

// change link hover color
.navbar-custom .navbar-nav .nav-item:hover .nav-link {
    color: #ff0000;
    text-decoration: none;
}

// Button color
.special-btn {
  background-color: #4aa0b5;
}

// Devise Error Messages
#error_explanation {
    background-color: #f2dede;
    color: #a94442;
    text-align: left;
    padding: 5px 20px;
    margin-bottom: 30px;
}

#error_explanation h2 {
    font-size: 150%;
}

.navbar-custom .navbar-nav .navbar-text {
    color: #ffffff;
}

// Link Styling
.link {
  margin-bottom: 5px;
}

#back-btn {
  margin-left: -10px;
  margin-top: 30px;
}

.destroy-btn:hover {
  color: #ff0000;
  font-weight: bold;
  font-size: 120%;
}

// Chart Styling
path {
  stroke: steelblue; stroke-width: 2; fill: none;
}

.axis path, .axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

#chat-window {
  border: 1px solid #76C95B;
  margin-top: 50px;
  margin-bottom: 30px;
}

#chat-window header {
  background: #76C95B;
  margin-left: -15px;
  margin-right: -15px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff;
  font-size: 120%;
}

#chat-box {
  min-height: 100px;
}

#message-field {
  width: 96%;
}

.message-body {
  margin-bottom: 2px;
}

hr.msg {
  margin-top: 10px;
  margin-bottom: 10px;
}

#followers {
  border-right: 1px solid #76C95B;
}

.followers {
  margin-left: -15px;
}

#form-box {
  margin-left: -15px;
}

#post-btn {
  margin-right: -35px;
}

// apple pagination
.apple_pagination {
  // background: #f1f1f1;
  // border: 1px solid #e5e5e5;
  text-align: center;
  padding: 1em;
  cursor: default; }
  .apple_pagination a, .apple_pagination span {
    padding: 0.2em 0.3em; }
  .apple_pagination .disabled {
    color: #84aca2; }
  .apple_pagination .current {
    font-style: normal;
    font-weight: bold;
    background-color: #84aca2;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    text-shadow: #84aca2 1px 1px 1px; }
  .apple_pagination a {
    text-decoration: none;
    color: #84aca2; }
    .apple_pagination a:hover, .apple_pagination a:focus {
      text-decoration: underline; }